/* css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkcyan;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__title {
    color: rgb(230, 230, 230);
    letter-spacing: 2px;
    font-size: 4rem;
}